.episodes__carrousel {
  scroll-snap-type: x mandatory;
}

.episode__slide {
  background-color: #112;
  display: inline-block;
  width: 100%;
  height: auto;
  margin-block: 1rem;
  scroll-snap-align: start;
}

.episode__image {
  object-fit: cover;
  object-position: center;
}
.episode__body {
  width: 90vw;
  padding: .5rem;
  background-color: #112;
}

.episode__name {
  font-size: 24px;
  font-weight: 400;
  margin-block: .5rem;
}

.episode__status {
  margin-block: .5rem;
}

.episode__status p {
  font-weight: 300;
}

.episode__status p > span {
  font-weight: bold;
  font-size: 18px;
}

.episode__overview {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
}

.episode__detail__btn {
  padding: .5rem 1.5rem;
  display: block;
  margin-top: 1rem;
  border-radius: 12px;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  color: var(--sec-color);
  border: 1px solid var(--sec-color);
}
